@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  background-color: rgba(222, 176, 24, 0.155) ;
}

p{
  font-size: 24px;
}


h1, h2 {
  font-family: 'Poppins', sans-serif;
  color: rgba(107, 8, 72, 0.8);
}

a{
  text-decoration: none;
  font-weight: bold;
}

#avatar {
 border-radius: 50%;
 width: 200px;
 margin: 0 auto;
 box-shadow: 1px 1px 1px black;
}

.container{
  width: 500px;
  margin:0 auto;
}

.list-inline li {
  display: inline-block;
  padding: 0px 20px;
  font-size: 24px;
  margin: 0 auto;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline a {
  color: black;
  font-size: 24px;
  margin: 0 auto;
}

.list-inline a:hover{
  color: white
}

ul {
padding-left: 0px;
}

.btn-purple {
background-color: purple;
color: white;
border-radius: 5px;
padding: 10px 10px;
}

.btn-purple:hover {
  background-color: blueviolet;
}


.card {
  color: rgba(164, 10, 60,0.8);
  background-color: rgba(222, 176, 24, 0.234);
  padding: 40px;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
